node_modules
dist
dist-ssr
coverage
*.local

.DS_Store
Thumbs.db

.env
.env.*
!.env.example

*.tsbuildinfo

.vscode/*
!.vscode/extensions.json
.idea

# Test output
playwright-report
test-results
blob-report
